.app {
    display: grid;
    grid-template-columns: 160px 30% auto;

    height: 100vh;
}

.app__sidebar {
    background-color: #323232;
}

.app__msglist {
}

.app__msgviewer {
}

.app__sidebar__title {
    color: black;
}
