.app {
    display: grid;
    grid-template-columns: 160px 30% auto;

    height: 100vh;
}

.app__sidebar {
    border: 2px solid red;
}

.app__msglist {
    border: 2px solid blue;
}

.app__msgviewer {
    border: 2px solid green;
}

.app__sidebar__title {
    color: black;
}
